{{> admin/admin-menu id="admin"}}

<div class="ui two column grid">

  <div class="column">
    <section class="ui segment">
      {{> admin/clients clients = clientInfo}}
    </section>
  </div>




</div>