{{> admin/admin-menu id="admin"}}

{{> admin/admin-left-menu}}

<section class="ui inverted Blue segment">
  <span class="ui big white text"> Metrics </span>
</section>

{{> admin/metrics}}


<div class="ui divider"></div>

<section class="ui inverted Blue segment">
  <span class="ui big white text"> New Security Requests </span>
</section>


<section class="ui segment">
  {{> admin/unassigned-security}}
</section>

<div class="ui divider"></div>
