{{> admin/admin-menu id="admin"}}

{{> admin/admin-left-menu}}

<section class="ui inverted Blue segment">
  <span class="ui big white text"> Clients </span>
</section>


<section class="ui segment">
  {{> admin/client-table clients = clientInfo }}
</section>

</div>
<div class="ui divider"></div>

</div>