{{> admin/admin-menu id="admin"}}

{{> admin/admin-left-menu}}

<section class="ui inverted Blue segment">
  <span class="ui big white text"> Clients </span>
</section>

<div class="ui grid">
  <div class="four wide column">
    <section class="ui segments">
      <section class="ui segment">
        <a href="">Add </a>
      </section>
      <section class="ui segment">

      </section>
      <section class="ui segment">

      </section>

    </section>
  </div>
  <div class="twelve wide column">
    <section class="ui segment">
      {{> admin/client-table clients = clientInfo }}
    </section>
  </div>
</div>
<div class="ui divider"></div>

</div>