  <div class="card">
    
    <div class="ui center aligned segment">
        <span class="icon is-large">
            <i class="fas {{{cardIcon}}} fa-2x"></i>
        </span>
        <h2>{{cardHeader}}</h2>
        <span class="ui big white text">{{cardData}}</span>
    </div>
  </div>