{{> menu/menu id="about"}}

<div class="ui segment">
  <h2>
    Deed-Locker
  </h2>
  <p>
    Welcom to Deed-Locker. Sign up today and make a request to store your security.
  </p>
  <P>
    How do we track your security?
  <ul>
    <li>Your Security is place in a Deed-Box and is electronically tagged</li>
    <li>When your Security is delivered to any place by our Courier, the courier will scan the Electronic tag on delivery</li>
    <li>This will update your Deed-Boxes location in our central database</li>
  </ul>
  </P>
  <p>
    Our Rasberry Pi Scanner is equipped with an Near Field Communication hat and scans the electronic tag of the
    Deed-Box through radio waves.
  </p>
</div>