{{> menu/menu id="dashboard"}}

  <section class="ui blue inverted segment">
    <p><em><span class="ui big white text">{{currentClient.organisation}}</span></em></p>
    <p>ID: {{currentClient._id}}</p>
  </section>

<section class="ui segment">  
    {{#each deedBoxes}}
        <section class="ui vertical segment">
          Deed Box: {{_id}}
        </section>
        <section class="ui vertical segment">

        {{#each securities}}
         {{> dashboard-securities}}
        {{/each}}
        </section>

        {{! UI Buttons }}
        <section class="ui vertical segment">
        <a href="/deedbox/{{_id}}">
            <i class="bordered grey large link folder icon"></i>
        </a>
    {{/each}}
</section>

<section class="ui blue inverted segment">
  <p><em><span class="ui big white text">Unassigned Security</span></em></p>
</section>
{{> unassigned-securityTable}}

<section>

</section>

