{{> menu/menu id="dashboard"}}

<section class="ui segment">  
    {{#each deedBoxes}}
        <section class="ui vertical segment">
          Deed Box: {{_id}}
        </section>
        <section class="ui vertical segment">

        {{#each securities}}
         {{> user/securities}}
        {{/each}}
        
        </section>
        {{! UI Buttons }}
        <section class="ui vertical segment">
        <a href="/station/{{id}}">
            <i class="bordered grey large link folder icon"></i>
        </a>
         <a href="/dashboard/deletestation/{{id}}">
            <i class="bordered grey large link trash icon"></i>
        </a>
    {{/each}}
</section>

<section>

</section>

