{{> menu/welcome-menu}}

<section class="ui segment">
    <h1>500: Server Error</h1>
    <p>Sorry there has been an issue with this request: &emsp;<b>{{url}}</b></p>

    <p>Error: <b>{{err.name}}</b></p>
    <p><b>{{err.message}}</b></p>
</section>
