<div class="card" style="width: 250px;">
    <div class="card-image has-text-centered">
        <figure class="image is-64x64 is-inline-block ">
            <p class="mt-4"><strong>{{beerName}}</strong></p>
            <img class="is-square" src="data:{{contentType}};base64,{{beerImage}}" alt="Placeholder image" style="width:100px; height:80px;">
        </figure>
    </div>
    <div class="card-content">
        <div class="field">
            <div class="control has-icons-left">
                <input class="input" type="text" name="{{beerName}}Price" placeholder="Price">
                <span class="icon is-small is-left">
                    <i class="fas fa-euro-sign"></i>
                </span>
            </div>
        </div>
    </div>
</div>