{{> admin/adminmenu}}


<section class="section">
  <p> This is the Admin Screen </p>
</section>


<section class="ui inverted Blue segment">
  <span class="ui big white text"> Metrics </span>
</section>


<div class="ui divider"></div>

