{{> menu active="dashboard"}}

<section class="section">
  This is Dashboard
</section>

<div id="map" style="height: 480px;"></div>

<script>
  const map = createMap()
</script>

{{> user/dashboard-place}}

<script>
  let formOpen = false

  function openPlace() {
    if (formOpen) {
      document.getElementById("new-review").style.display = "none"
      formOpen = false
    } else {
      document.getElementById("new-review").style.display = "block"
      formOpen = true
    }
  }
</script>