<nav class="ui inverted menu">
    <header class="ui header item"><a href="/admin"> Pint Accountant </a></header>
    <div class="ui secondary menu">
        <header class="item"> Administrator </header>
    </div>
</nav>

{{> admin/admin-left-menu}}
{{> errors/joierror}}

<script>
    $("#${_id}").addClass("active item");
</script>