<nav class="ui inverted menu">
    <header class="ui header item"><a href="/admin"> Deed-Locker </a></header>
    <div class="ui secondary menu">
        <header class="item"> Administrator </header>
    </div>
</nav>

<script>
    $("#${_id}").addClass("active item");
</script>