<body>
  <div class="ui visible sidebar inverted vertical menu">
    <a class="item" href="/admin/">
      Home
    </a>
    <a class="item" href="/admin/newDeedBox">
      Add Deed Box
    </a>
    <a class="item" href="/admin/admin-clients">
      Clients
    </a>
    <a class="item" href="/logout">
      Logout
    </a>
  </div>
</body>

