<div class="ui inverted four cards">
  <div class="card">
    <div class="ui inverted segment">
      <section class="ui inverted segment">
        <h2>New Security Requests</h2>
      </section>
      <section class="ui center aligned inverted segment">
        <span class="ui big white text">{{unassignedSecurity.length}}</span>
      </section>
    </div>
  </div>
      
  <div class="card">
    <div class="ui inverted segment">
      <section class="ui inverted segment">
        <h2>Deed Boxes Available</h2>
      </section>
      <section class="ui center aligned inverted segment">
        <span class="ui big white text">  {{unassignedDeedBoxes.length}}</span>
      </section>
    </div>
  </div>

  <div class="card">
    <div class="ui inverted segment">
      <section class="ui inverted segment">
        <h2>Security Release Requests</h2>
      </section>
      <section class="ui center aligned inverted segment">
        <span class="ui big white text"> </span>
      </section>
    </div>
  </div>

  <div class="card">
    <div class="ui inverted segment">
      <section class="ui inverted segment">
        <h2></h2>
      </section>
      <section class="ui center aligned inverted segment">
        <span class="ui big white text"> </span>
      </section>
    </div>
  </div>
</div>