<table class="ui center aligned unstackable short scrolling very basic table">
  <thead>
    <tr>
      <th>Deed Box ID</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  {{#each unassignedDeedBoxes}}
  <tbody>
    <tr>
      <td>
        {{_id}}
      </td>
      <td>
        {{formatDate createdAt 'MMMM DD YYYY, h:mm'}}
      </td>
      <td>
        <a href="/admin/client/{{_id}}">
          <button class="ui blue button">Assign</button>
        </a>
      </td>
    </tr>
  </tbody>
  {{/each}}
</table>
